@mixin active {
  background:  rgba(#000, 0.7);
}

.Track {
  background: rgba(#000, 0.4);
  border: none;
  padding: 10px;
  cursor: pointer;

  &:hover {
    @include active;
  }

  &--is-active {
    @include active;
  }
}
